body {
    margin: 0;
    padding: 0;
}

.header-website-name {
    text-align: center;
}

.header-link-github {
    position: fixed;
    top: 10px;
    display: flex;
    margin: 10px;
}

.header-a-github {
    text-decoration: none;
    color: black;
}