body {
    margin: 0;
    padding: 0;
}

.header-title {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -50%);
    color: white;
}

.header-a-github {
    text-decoration: none;
    color: white;
}

header{
    position:fixed;
    width:100%;
    top: 0px;
    padding: 30px;
    font-family: courier;
    background-color: #333;
    z-index: 2020;
}


.header-github {
    position: fixed;
    top:-2px;
    display: flex;
    margin: 20px;
}

.main-p {
    position: relative;
    top: 75px;
    text-align: center;
    color: black;
}


.portfolio-part {
    
}


.footer {
    position: relative;
    bottom: -900px;
}